In [20]:
import pandas as pd
import numpy as np

In [21]:
dados = np.array([
    [72, 180, 26],
    [80,170,19],
    [60,165,15]]
)#Preenchendo as linhas

df = pd.DataFrame(data=dados, columns=['Peso', 'Altura', 'Idade'])
df

   Peso  Altura  Idade
0    72     180     26
1    80     170     19
2    60     165     15

Indexação

In [22]:
df['Altura']
df['Altura'][1]
df.loc[1][1]
df[['Peso', 'Altura']]#acessa duas colunas do DataFrame

/tmp/ipykernel_13172/1234367130.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[1][1]

   Peso  Altura
0    72     180
1    80     170
2    60     165

In [23]:
df.iloc[2][1]

/tmp/ipykernel_13172/2023769522.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[2][1]

np.int64(165)