In [37]:
import numpy as np
import pandas as pd

In [38]:
simula_dados = np.arange(1,10).reshape(3,3)
simula_dados

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [39]:
DF1 = pd.DataFrame(simula_dados, columns="A B C".split())
DF2 = pd.DataFrame(simula_dados, columns="A B C".split())
DF3 = pd.DataFrame(simula_dados, columns="D E F".split())

Concetenar DF

In [40]:
pd.concat([DF1,DF2])#coloque em uma lista todos os dataFrames que deseja con

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
0  1  2  3
1  4  5  6
2  7  8  9

Retorna a junção dos dois data frames um abaixo do outro, pois ele detecta que as colunas são iguais

Repare que os índices se repetem, com base nos DF concatenados, uma forma de colocar os índices de forma continua é adicionar o parâmetro abaixo:

In [41]:
pd.concat([DF1,DF2], ignore_index=True)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
3  1  2  3
4  4  5  6
5  7  8  9

Mesclar as colunas:

In [42]:
pd.concat([DF1, DF2], axis=1)

   A  B  C  A  B  C
0  1  2  3  1  2  3
1  4  5  6  4  5  6
2  7  8  9  7  8  9

In [43]:
pd.concat([DF1, DF2, DF3], ignore_index=True)

     A    B    C    D    E    F
0  1.0  2.0  3.0  NaN  NaN  NaN
1  4.0  5.0  6.0  NaN  NaN  NaN
2  7.0  8.0  9.0  NaN  NaN  NaN
3  1.0  2.0  3.0  NaN  NaN  NaN
4  4.0  5.0  6.0  NaN  NaN  NaN
5  7.0  8.0  9.0  NaN  NaN  NaN
6  NaN  NaN  NaN  1.0  2.0  3.0
7  NaN  NaN  NaN  4.0  5.0  6.0
8  NaN  NaN  NaN  7.0  8.0  9.0

Merge

In [44]:
DF4 = pd.DataFrame(simula_dados, columns="A B C".split())
DF5 = pd.DataFrame(simula_dados, columns="D B C".split())

In [45]:
pd.merge(DF4, DF5, on="C")

   A  B_x  C  D  B_y
0  1    2  3  1    2
1  4    5  6  4    5
2  7    8  9  7    8

In [46]:
pd.merge(DF4, DF5, on=["B", "C"])

   A  B  C  D
0  1  2  3  1
1  4  5  6  4
2  7  8  9  7