In [78]:
import pandas as pd
import numpy as np
import matplotlib as plt

Df = pd.read_csv('WorldPop.csv')
Df.columns

Index(['Country', 'Population 2024', 'Population 2023', 'Area (km2)',
       'Density (/km2)', 'Growth Rate', 'World %', 'World Rank'],
      dtype='object')

In [79]:
Df.index

RangeIndex(start=0, stop=234, step=1)

In [80]:
Df['Density (/km2)'].unique

<bound method Series.unique of 0       485.00
1       151.00
2        37.00
3       149.00
4       318.00
        ...
229      43.00
230       0.31
231       7.00
232     192.00
233    1195.00
Name: Density (/km2), Length: 234, dtype: float64>

In [81]:
Df['Density (/km2)'].value_counts()##conta as densidades disponíveis

Density (/km2)
4.00       6
47.00      4
26.00      4
18.00      4
78.00      3
          ..
441.00     1
24.00      1
0.31       1
192.00     1
1195.00    1
Name: count, Length: 173, dtype: int64

In [82]:
Df['Density (/km2)'].mean()

np.float64(453.7882478632479)

In [83]:
Df['Density (/km2)'].median()

np.float64(98.5)

In [84]:
Df['Density (/km2)'].mode()

0    4.0
Name: Density (/km2), dtype: float64

In [85]:
Df['Growth Rate'].std()#Desvio padrão da taxa de crescimento em comparação a média

np.float64(0.011371338482007375)

In [86]:
Df['Density (/km2)'].var()#variança dos dados

np.float64(3960749.858469448)

In [87]:
Df.describe()

,Population 2024,Population 2023,Density (/km2),Growth Rate,World %,World Rank
count,2.340000e+02,2.340000e+02,234.000000,234.000000,228.000000,234.000000
mean,3.468862e+07,3.437442e+07,453.788248,0.009200,0.004446,117.500000
std,1.380750e+08,1.373864e+08,1990.163274,0.011371,0.017459,67.694165
min,5.260000e+02,5.180000e+02,0.140000,-0.030900,0.000000,1.000000
25%,4.264565e+05,4.225982e+05,39.500000,0.001925,0.000100,59.250000
50%,5.626359e+06,5.643895e+06,98.500000,0.007950,0.000750,117.500000
75%,2.392272e+07,2.324537e+07,248.250000,0.015675,0.003000,175.750000
max,1.441720e+09,1.428628e+09,21674.000000,0.048300,0.180100,234.000000

In [88]:
Df.duplicated()#mostra valores duplicados
#Df.drop_duplicates() elimina linhas duplicadas e retorna um novo DF

np.int64(0)