In [40]:
import numpy as np
import pandas as pd

In [41]:
dados = np.array([
    [4,2,np.nan],
    [4,4,2],
    [np.nan,3,2],
    [5,np.nan,4],
])
df = pd.DataFrame(dados, columns="A B C".split())
df

     A    B    C
0  4.0  2.0  NaN
1  4.0  4.0  2.0
2  NaN  3.0  2.0
3  5.0  NaN  4.0

In [42]:
df.isnull()

       A      B      C
0  False  False   True
1  False  False  False
2   True  False  False
3  False   True  False

In [43]:
df['A'].isnull()

0    False
1    False
2     True
3    False
Name: A, dtype: bool

In [44]:
df.dropna()

     A    B    C
1  4.0  4.0  2.0

Vemos que após o dropna() a única linha que resta é a 2, assim removendo todas as linhas que possuem valores vazios

In [45]:
df['B'].fillna(0)

0    2.0
1    4.0
2    3.0
3    0.0
Name: B, dtype: float64

preenche com 0 todos os valores vazios na coluna B