Agrupando dados em um DF

In [28]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('aula12.csv')
df.head()

   Massa Corporal(kg)  Altura(Cm)  Idade COVID-19
0                  60         170     19      Não
1                  80         190     24      Não
2                  58          19     18      Sim
3                  65         175     93      Não
4                  70         165     28      Não

In [25]:
df.shape

(35, 4)

Agrupando Dataframe

In [26]:
df_covid =df.groupby('COVID-19')

In [27]:
df_covid.mean()

          Massa Corporal(kg)  Altura(Cm)      Idade
COVID-19
Não                75.263158  173.842105  36.263158
Sim                75.875000  164.750000  34.562500