In [90]:
import pandas as pd
import numpy as np
from random import choice

In [91]:
df = pd.read_csv('WorldPop.csv')

In [92]:
df.head()

,Country,Population 2024,Population 2023,Area (km2),Density (/km2),Growth Rate,World %,World Rank
0,India,1441719852,1428627663,3M,485.0,0.0092,0.1801,1
1,China,1425178782,1425671352,9.4M,151.0,-0.0003,0.1780,2
2,United States,341814420,339996563,9.1M,37.0,0.0053,0.0427,3
3,Indonesia,279798049,277534122,1.9M,149.0,0.0082,0.0350,4
4,Pakistan,245209815,240485658,770.9K,318.0,0.0196,0.0306,5

In [93]:
df.shape

(234, 8)

In [94]:
test = np.random.randint(1,40,234)
test
df['Teste'] = test#Adiciona coluna Teste  ao dataSet
df.head()

,Country,Population 2024,Population 2023,Area (km2),Density (/km2),Growth Rate,World %,World Rank,Teste
0,India,1441719852,1428627663,3M,485.0,0.0092,0.1801,1,8
1,China,1425178782,1425671352,9.4M,151.0,-0.0003,0.1780,2,9
2,United States,341814420,339996563,9.1M,37.0,0.0053,0.0427,3,6
3,Indonesia,279798049,277534122,1.9M,149.0,0.0082,0.0350,4,8
4,Pakistan,245209815,240485658,770.9K,318.0,0.0196,0.0306,5,33

In [95]:
test2 = [choice([1, 2]) for i in range(234)]
df['Teste2'] = test2
df.head()

,Country,Population 2024,Population 2023,Area (km2),Density (/km2),Growth Rate,World %,World Rank,Teste,Teste2
0,India,1441719852,1428627663,3M,485.0,0.0092,0.1801,1,8,2
1,China,1425178782,1425671352,9.4M,151.0,-0.0003,0.1780,2,9,1
2,United States,341814420,339996563,9.1M,37.0,0.0053,0.0427,3,6,2
3,Indonesia,279798049,277534122,1.9M,149.0,0.0082,0.0350,4,8,1
4,Pakistan,245209815,240485658,770.9K,318.0,0.0196,0.0306,5,33,1

In [ ]:
df.drop("Teste2", axis=1)#O axis = 1 deleta a coluna, por padrão ele vem 0 e deleta a linha.add()

Vale lembrar que, sempre que um método for executado que altere o DF, ele não altera o dataframe ao menos que você faça uma atribuição a ele

*df = df.drop("Teste2", axis=1)*

Dessa forma o DF excluiria de forma definitiva a coluna Teste2

Ou:

*df.drop("Teste2", axis=1, inplace=True)*